[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mysql-connector = "*"
pandas = "*"
sqlalchemy = "*"
keras = "*"
matplotlib = "*"
sklearn = "*"

[dev-packages]

[requires]
python_version = "3.7"
